* {
    box-sizing: border-box;
}

body {
    font: 400 16px "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
    background: rgb(15,15,15);
    background: -moz-linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(37,37,37,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(37,37,37,1) 100%);
    background: linear-gradient(180deg, rgba(15,15,15,1) 0%, rgba(37,37,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f0f",endColorstr="#252525",GradientType=1); 
    margin: 0;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    padding: 5em 0 2em;
}

main {
    width: 90vw;
    max-width: 45em;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: rgb(147, 198, 233);
}

h3 a {
    text-decoration: none;
    color: rgb(61, 150, 209);
}

/* Set style for the header */
.schoolHeader {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/* Set initial visiblity of content to hidden */
.schoolContent {
    display: none;
    padding-left: 10px;
    margin-top: 0;
}

/* Add sliding from left to right effect */
@keyframes slide-in {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Add sliding from right to left effect */
@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(50%);
        opacity: 0;
    }
}

.schoolContent.show {
    display: block;
    animation: slide-in 0.5s;
}

.schoolContent.hide {
    display: block;
    animation: slide-out 0.5s;
}

#downloads {
    width: 90vw;
    max-width: 40em;
    margin: 0 auto;
    animation: slide-in 1s;
}

#embeds {
    width: 90vw;
    max-width: 40em;
    margin: 0 auto;
}

#measurements {
    width: 90vw;
    max-width: 40em;
    margin-left: 0%;
}

#measurements h3 {
    padding-left: 60%;
}

#measurements p {
    padding-left: 65%;
    color: rgb(173, 173, 173);
}

p#skitser a {
    color: #a0a0a0;
    margin-bottom: 0.1em;
    display: block;
}